<header>
  <div class="header-container">
    {% if page.logo == "forge" %}
    <img src="robot pics/forge logo.png" alt="ATAA Logo" class="logo">
    {% else %}
    <img src="logos/Ataalogo.png" alt="ATAA Logo" class="logo">
    {% endif %}
    <div class="banner">{{ page.title }}</div>
  </div>
</header>

<nav class="teams-bar">
  <div class="nav-links">
    <div class="dropdown">
      <a href="index.html" class="dropbtn">Home</a>
    </div>

    <div class="dropdown">
      <a href="/#frc">FRC - FORGE 4421</a>
      <div class="dropdown-content">
        <a href="team.html">About</a>
        <a href="robots.html">Robots</a>
        <a href="awards.html">Awards</a>
        <a href="legacy.html">Legacy</a>
        <a href="media.html">Media</a>
        <a href="Documents.html">Documents</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="/#ftc">FTC Teams</a>
      <div class="dropdown-content">
        <a href="hyperdroid.html">HyperDroid #10015</a>
        <a href="cai.html">Crazy AI #16596</a>
        <a href="mechamonkeys.html">Mecha Monkeys #23468</a>
        <a href="techtitans.html">Tech Titans #23684</a>
      </div>
    </div>

    <a href="fll.html">FLL Teams</a>
    <a href="event.html">Events</a>
    <a href="impact.html">Impact</a>
    <a href="sponsors.html">Sponsors</a>
    <a href="contact.html">Contact</a>
    <a href="joinus.html">Join Us</a>
  </div>
</nav>