#mainNav {
    background-color: rgba(64, 64, 64, 0.6)
}
#about {
    background-image: url('/resources/img/about.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
#aboutCover {
    background-color: rgba(64, 64, 64, 0.6);
    padding: 200px;
    color: #000;
    text-align: center
}
#ata {
    background-color: #A39E9D
}
#swat {
    background-color: #E0454F
}
#ftc {
    background-color: #EF6340
}